<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>BMR Cakes</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>


</head>

<body>
    <!--/home -->
    <div id="home" class="inner-w3pvt-page">
        <div class="overlay-innerpage">
            <!--/top-nav -->
            <div class="top_w3pvt_main container">
                <!--/header -->
<header class="nav_w3pvt text-center ">
<!-- nav -->
    <nav class="wthree-w3ls">
        <div id="logo">
            <h1> <a class="navbar-brand1 px-0 mx-0" style="text-transform:capitalize" href="/home">Bmr Cakes
                </a>
            </h1>
        </div>

    </nav>
<!-- //nav -->
</header>
                <!--//header -->

                <!--/breadcrumb-->
                <div class="inner-w3pvt-page-info">
                    <ol class="breadcrumb d-flex">
                        <li class="breadcrumb-item">
                            <a>BMR Cakes</a>
                        </li>
                        <li class="breadcrumb-item active">Panel de administrador</li>
                    </ol>

                </div>
                <!--//breadcrumb-->
            </div>
            <!-- //top-nav -->
        </div>
    </div>
    <!-- //home -->

    <div class="container p-md-4">
        <a class="btn more black" href="/admin/adminproducto/alta" role="button">Alta de producto</a>
        {{!-- <a class="btn more black" href="" role="button" style="margin: 3em;">Alta de producto</a>   --}}
    </div>
   
    <section >
        <div class="container p-md-2" style="margin-top: 0em;">
            <h4 class="tittle-w3ls text-center" style="font-weight: lighter;">Vista de productos</h4>
                        <table class="table table-hover table-responsive mt-3 text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Precio</th>
                        <th>Categoría</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each productos}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{descripcion}}</td>
                        <td><a href="/admin/adminproducto/imagen/{{id_producto}}"><img src="{{imagen}}" style="width:100px; height:auto"></a></td>
                        <td>${{precio}}</td>
                        <td>{{nombre_categoria}}</td>
                        <td><a href="/admin/adminproducto/modificar/{{id_producto}}"><p class="text-primary">Modificar</p></a></td>
                        <td><a href="/admin/adminproducto/baja/{{id_producto}}"><p class="text-danger" style="cursor: pointer;">Eliminar</p></a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
 
</body>

</html>
